/** {
    cursor: url('assets/cursor.png'), auto;
}*/

:root{
    --primary-color: rgba(147, 27, 53, 0.5);
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #262626;
    background-image: linear-gradient(to bottom, #333 1px, transparent 1px), linear-gradient(to right, #333 1px, transparent 1px);
    background-size: 50px 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1
}

body{
    height: 100vh;
}

/*.bg{
}*/

nav{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: var(--primary-color)
}

main{
    padding: 20px;
}

.pantalla{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

a{
    color: #fff;
    padding: 0 20px;
}

.profile{
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.profile > img{
    width: 400px;
    border-radius: 9999px;
    padding: 20px;
}