:root {
  --primary-color: rgba(147, 27, 53, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: #262626;
  background-image:
    linear-gradient(to bottom, #333 1px, transparent 1px),
    linear-gradient(to right, #333 1px, transparent 1px);
  background-size: 50px 50px;
  font-family: "Courier New";
}

body {
  height: 100vh;
  color: #fff;
}

hr {
  border: solid #000 1px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: var(--primary-color);
}

main {
  padding: 20px;
  height: 100vh;
}

a {
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #aaaaaa;
}

.inicio {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 400px;
  gap: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
}

.profile > img {
  width: 400px;
  padding: 20px;
}

.terminal {
  width: 90%;
  margin: 20px;
  padding-bottom: 20px;
}

.terminal > img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.commands {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: translateY(-5px);
  font-size: small;
  text-align: left;
  padding: 5px;
}

.commands > p > span {
  animation: blink 1s steps(2, start) infinite;
}

.content {
  width: 100%;
  margin-left: 20px;
  background-color: #000;
}

.content > img {
  width: 100%;
}

.proyecto {
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: #fff;
}

.proyecto > div > pre {
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes small {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes terminal-text {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
