/** {
    cursor: url('assets/cursor.png'), auto;
}*/

:root{
    --primary-color: rgba(147, 27, 53, 0.5);
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #262626;
    background-image: linear-gradient(to bottom, #333 1px, transparent 1px), linear-gradient(to right, #333 1px, transparent 1px);
    background-size: 50px 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1
}

body{
    height: 100vh;
    color: #fff;
}

hr{
    border: solid #000 1px;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: var(--primary-color)
}

main{
    padding: 20px;
}

.pantalla{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

a{
    color: #fff;
    padding: 0 20px;
}

.profile{
    width: 400px;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
}

.profile > img{
    width: 400px;
    border-radius: 9999px;
    padding: 20px;
}

.terminal{
    width: 90%;
    margin: 20px;
    padding-bottom: 20px;
}

.terminal > img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.commands{
    margin: 0;
    padding: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    transform: translateY(-5px);
    font-size: small;
    text-align: left;
    padding: 5px;
}

.commands > p{
    transition: 5s;
}

.commands > p > span{

}
